/* селектор{
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */
/* h1,
h2 {
  color: red;
  font-size: 16px;
  text-align: center;
}

.first {
  color: blue;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
}

#second {
  color: pink;
}

p mark {
  color: red;
} */

* {
  box-sizing: border-box;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-align: center;
  color: red;
}

span {
  font-style: italic;
}

.box {
  width: 300px;
  min-height: 300px;
  background-color: yellow;
  /* border-color: black;
  border-width: 5px;
  border-style: solid; */
  border: 5px solid black;
  border-top-color: blue;
  padding: 50px 20px;
  margin: 20px;
}
